body {
    background-color: darkgreen;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.form-container {
    background-color: #003300;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    margin: 20px;
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    background-color: black;
    color: white;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}
